<!DOCTYPE html>
<html>
<head>
	<title>Dashboard Atlet</title>
	<style>
body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		table {
			margin-top: 20px;
			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
			border: 1px solid black;
		}
		th {
			background-color: #333;
			color: #fff;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Dashboard Atlet</h1>
		<table>
			<tr>
				<th>Nama Lengkap</th>
				<td>Reyhan Vivaldi Adrian</td>
			</tr>
			<tr>
				<th>Negara</th>
				<td>Canada</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>rey@compfest.id</td>
			</tr>
			<tr>
				<th>Tanggal Lahir</th>
				<td>26 April 2002</td>
			</tr>
			<tr>
				<th>Play</th>
				<td>Right hand</td>
			</tr>
			<tr>
				<th>Tinggi Badan</th>
				<td>182 cm</td>
			</tr>
			<tr>
				<th>Jenis Kelamin</th>
					<td>Laki-laki</td>
			</tr>
			<tr>
				<th>Pelatih</th>
				<td>-</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>Qualified</td>
			</tr>
			<tr>
				<th>World Rank</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Total Poin</th>
				<td>191210</td>
			</tr>
		</table>
	</div>
</body>
</html>
